@import url("https://fonts.googleapis.com?family=Open+Sans:300,400,600,700,800");
body{
    background-color: #7b2222;
    height: 100vh;
    perspective: 1800px;
    
}

.cards {
    display: inline-block;
    min-width: 590px;
    background: #391956;
    border-radius: 20px;
    box-shadow: 2px 2px 5px #151111;
    padding: 30px 35px;
    text-align: left;
    transform-origin: 50% 50%;
    font-family: "Open Sans", sans;
    transform-style: preserve-3d;

}


h1{
    color:#cec7c7;
    font-family: italic;
}
.card {
    border-radius: 20px;
    display: inline-block;
    overflow: hidden;
    width: 150px;
    
}

.card:not(:last-child) {
    margin-right: 30px;
}

.img {
    position: relative;
    height: 100%;
}

.bg {
    position: absolute;
    inset: -50px;
    transform-origin: 50% 50%;
    transform: translateZ(-50%);
    z-index: 0;
}


.one .img {
    background-color: #0f0f0f;
    width: 150px;
    border-radius: 50px 50px 50px 50px;
}


.two .img {

    width: 150px;
    border-radius: 50px 50px 50px 50px;

}

    

.three .img {
    width: 150px;
    border-radius: 50px 50px 50px 50px;
}


